body {
    text-align: center 
}
h2 {
    text-decoration: dotted orange;
}
h3 {
    text-decoration: double yellow;
}
h4 {
    text-decoration: line-through blue;
}
h5 {
    text-decoration: overline green;
}
h6 {
    text-decoration: solid greenyellow;
}
small {
    text-decoration: underline white;
}
strong {
    text-decoration: wavy red;
}
